<h3>Select User: </h3>
<mat-form-field>
  <mat-label>User</mat-label>
  <mat-select [(value)]="userSelected">
    <mat-option *ngFor="let user of users" [value]="user">
      {{user.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br/>
<table>
    <thead>
    <th>Name</th>
    <th>Price</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
    <td>{{item.name}}</td>
    <td>{{item.price}}</td>
    <td>
      <button class="" title="Add item"
        (click)="add(item)">Add</button>
      <button class="" title="Remove item"
      (click)="remove(item);">Remove</button></td>
    </tr>
</tbody>
</table>
<br/>
<button *ngIf="userSelected!=null" title="Close Cart"
 (click)="close()">Close</button>